# Copie ce fichier en .env et remplis tes valeurs
# NE JAMAIS commiter .env sur git

# Gmail IMAP
EMAIL_HOST=imap.gmail.com
EMAIL_ADDRESS=tonemail@gmail.com
EMAIL_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_MAX=6

# LinkedIn Jobs
JOBS_KEYWORDS=Full Stack
JOBS_LOCATION=France
JOBS_MAX=8

# TMDB
TMDB_API_KEY=ta_cle_tmdb
TMDB_LANGUAGE=fr-FR
MOVIES_MAX=6
